.bankGrid button,
.cardGrid button,
.mobileGrid button,
.irlPayment button {
  height: 50px !important;
  width: 260px;
  margin: 0.5rem;
  background-color: white !important;
  box-shadow:
    0 1px 4px 0 rgba(0, 0, 0, 0.2),
    0 2px 60px 0 rgba(0, 0, 0, 0);
}

img {
  object-fit: scale-down;
}

.cardGrid,
.bankGrid {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}
.mobileGrid,
.irlPayment {
  display: flex;
  flex-wrap: wrap;
  width: 50vw;
}

h3 {
  text-align: left;
  font-size: 1.2rem;
  margin-top: 1rem;
}
.bankContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f8 !important;
}
footer {
  height: 10vh;
}
.cancelButton {
  margin-top: 2rem;
  background-color: transparent;
  border: 1px rgb(154, 154, 154) solid;
  border-radius: 24px;
  box-shadow: none;
  height: 50px;
  width: 260px;
  color: black;
}
.cancelContainer {
  display: flex;
  flex-direction: column;
}
