/* CSS Rules for timer*/

.timer {
  font-size: 30px;
}

.timerText {
  font-size: 19px;
}

.rentStartText {
  font-size: 20px;
}

/* Mobile rules */

@media screen and (max-width: 700px) {
  .infoContainer {
    display: flex;
    flex-direction: column;
  }
}
