.gotorentbutton {
  background-color: #008782;
  color: white;
  top: 200px;
  position: absolute;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

main,
.frontpagepicture {
  display: flex;
  justify-content: center;
  height: 445px;
  width: 100%;
  object-fit: cover;
  padding: 20px;
}

.header-txt {
  margin-left: 22%;
  display: flex;
}

.heading-info {
  font-size: 24px;
  text-align: center;
}

.container-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.imgContainer {
  display: flex;
  width: 50%;
  justify-content: center;
  padding: 20px;
}

.infoContainer {
  display: flex;
  width: 20%;
  flex-direction: column;
  border: 1px solid black;
  height: 695px;
  padding: 20px;
  margin-top: 40px;
}
