/* CSS Rules for Frontpage*/

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure the container takes up at least the full viewport height */
}

.frontPageBody {
  flex-grow: 1; /* Allow the front page content to grow and take up the available space */
}

.frontPageContent {
  text-align: left !important;
  margin: 0 auto;
}

.frontMain,
.frontPagePicture {
  display: flex !important;
  justify-content: center !important;
  width: 100% !important;
  object-fit: cover !important;
}

.frontHeaderTxt {
  margin-left: 17%;
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.frontHeader {
  width: 100%;
  padding-bottom: 30px;
}

.headingInfo {
  font-size: 24px;
  text-align: center;
  color: #00aaa3;
}

.headingInfo2 {
  font-size: 24px;
  text-align: center;
  color: #00aaa3;
  padding: 20px 20px 0px 0px;
}

.headingInfo3 {
  font-size: 18px;
  text-align: center;
  color: #00aaa3;
}

.infoTextContainer2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containerInfo {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.frontImgContainer {
  width: 40%;
}

.frontInfoContainer {
  display: flex;
  width: 25%;
  flex-direction: column;
  border: 2px solid #7bc1cb;
  height: auto;
  padding: 20px;
  padding-bottom: 10px;
  margin-bottom: auto;
  margin-left: 20px;
}

.infoList {
  margin: 10px 0;
}

.highlightedText {
  color: #00aaa3;
}

.lightGrayText {
  color: #999;
}

.iconSpacing {
  padding: 0 10px; /* Adjust the padding values to control the space around the '>' symbol */
}

.headerContainer {
  width: 100%;
}

.rentButton {
  width: 70%;
}
.rentButton2 {
  width: 70%;
}

/* Media rules*/

@media screen and (max-width: 700px) {
  .containerInfo {
    flex-direction: column;
  }
  .frontImgContainer {
    width: 100%;
  }
  .frontHeaderTxt {
    justify-content: center;
    margin: auto;
  }
  .frontInfoContainer {
    width: 90%;
    margin: auto;
  }
  .rentButton {
    display: none;
  }
  .rentButton2 {
    margin-top: 20px;
    width: 20rem;
    margin-left: auto;
    margin-right: auto;
  }
  .infoTextContainer2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media screen and (min-width: 701px) {
  .rentButton2 {
    display: none;
  }
}

@media screen and (min-width: 701px) and (max-width: 900px) {
  .frontImgContainer {
    width: 60%;
  }
  .frontInfoContainer {
    width: 50%;
    margin-right: 10px;
  }
  .infoTextContainer2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .frontHeaderTxt {
    margin-left: 1%;
  }
}
@media screen and (min-width: 901px) {
  .frontImgContainer {
    width: 530px;
  }
  .frontInfoContainer {
    width: 345px;
    margin-right: 10px;
  }
  .infoTextContainer2 {
    margin-left: 10px;
    margin-right: 10px;
  }
  .frontHeaderTxt {
    justify-content: center;
    margin: auto;
  }
}
