.gotorentbutton {
  background-color: #008782;
  color: white;
  top: 200px;
  position: absolute;
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
}

header,
.frontpagepicture {
  display: flex;
  justify-content: center;
}
