.gotorentbutton {
  background-color: #008782 !important;
  color: white !important;
  padding: 10px !important;
  width: 100% !important;
  margin-bottom: 20px !important;
}

.gotorentbutton:hover {
  background-color: #008782 !important;
  color: white !important;
}

.gotorentbutton:active {
  background-color: #008782 !important;
  color: white;
}
