/* CSS Rules for rate/feedback on trailer*/

.checkMark {
  width: 125px;
  height: 125px;
  border-radius: 100%;
  background-color: #008782;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#checkIcon {
  color: white !important;
  font-size: 5rem;
}
.ratingInput {
  width: 100%;
}
.inputGroupContainer {
  display: flex;
  justify-content: center;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100vh;
  margin: auto;
  max-width: 400px;
  align-items: center;
}
.textArea {
  height: 120px;
  border-color: #c3dedc;
}
.sendButton {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.sendFeedbackBtn {
  margin-bottom: 10px;
}
.starRatingContainer {
  text-align: center;
  margin-top: 37px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.starRatingTitle {
  font-size: 24px;
}

.star-rating p {
  font-size: 20px;
}

.starRatingButton {
  margin-top: 10px;
}
.returnTitle {
  font-size: 20px;
  margin-top: -65px;
  margin-bottom: 30px;
  color: #025f56;
}

/* Mobile rules */

@media screen and (max-width: 520px) {
  .checkMark {
    width: 105px;
    height: 105px;
  }
  .textArea {
    width: 285px;
  }
}
