.rentProcessContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: calc(100vh - 70px);
}

.bgImage1,
.bgImage2 {
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.bgImage1 {
  background-image: url('../assets/bg_image1.png');
}

.contentContainer {
  width: 60rem;
}

.contentContainerLastStep {
  width: 60vw;
  background-color: #f7f7f8;
}

.bgImage2 {
  background-image: url('../assets/bg_image2.png');
}

.colorBg {
  background-color: #f7f7f8;
}


@media screen and (max-width: 600px) {
  .contentContainerLastStep {
    width: 100vw;
  }
  .stepper {
    display: none !important;
  }
}  
