.rentBox{
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
}
.calendarBox{
    flex: 1;
}
.selectTimeBox{
      flex: 0 0 auto; 
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}
.timeButtonBox{
    
}
.productBox{
    flex: 1;
    margin-left: 15px;
}
.hr {
  width: 100%; /* Ensures it spans the entire width of its container */
  border: none; /* Removes any default border or styling */
  border-top: 1px solid #ccc; /* Sets the desired width and color for the line */
  margin: 10px 0; /* Adds spacing above and below the divider */
}