/* CSS Rules for Rental info modal
   Same modal is in use for cancellation warning modal */

.headingInfo2 {
  font-size: 24px;
  color: #00aaa3 !important;
  padding: 20px 20px 0px 0px;
}

.modalPadding {
  padding-left: 63px !important;
  align-items: flex-start !important;
}

.modalFooter {
  justify-content: center !important;
}

.rentButton {
  width: 200px;
}

.backButton {
  width: 150px;
  background-color: black !important;
  border-color: black !important;
}

.cancelOptionButton {
  width: 150px;
}
