/* CSS Rules for product and time choose view */

.rentBox {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.calendarBox {
  flex: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectTimeBox {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.productBox {
  flex: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hr {
  width: 100%; /* Ensures it spans the entire width of its container */
  border: none; /* Removes any default border or styling */
  border-top: 3px solid #7bc1cb; /* Sets the desired width and color for the line */
  margin: 10px 0; /* Adds spacing above and below the divider */
}
hr {
  border-color: #7bc1cb;
}
.userFormButton {
  margin: 2rem auto;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  margin: 1em 2em 1em 2em;
  width: 100%;
}

.leftButtons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
@media screen and (max-width: 600px) {
  .rentBox,
  .calendarBox {
    margin: 1rem auto;
    width: 90vw;
  }
  .buttonsContainer {
    margin: 0;
    width: 90vw;
    justify-content: center;
  }
  .buttonsContainer button {
    font-size: 0.9rem;
    margin-left: 0.3rem;
  }
}
