.rentBox {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
}
.calendarBox {
  flex: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.selectTimeBox {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.productBox {
  flex: 1;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hr {
  width: 100%; /* Ensures it spans the entire width of its container */
  border: none; /* Removes any default border or styling */
  border-top: 3px solid #7bc1cb; /* Sets the desired width and color for the line */
  margin: 10px 0; /* Adds spacing above and below the divider */
}
hr {
  border-color: #7bc1cb;
}
.userFormButton {
  margin: 2rem auto;
}
