/* CSS Rules for rent info view */

.infoCardContainer {
  margin-top: 3rem;
}
.cardHeader {
  text-align: center;
  background-color: #008782;
  color: white;
}
.infoCircleIcon {
  margin-bottom: 2px;
  margin-right: 3px;
}
.card {
  width: 20rem;
  text-align: left;
  box-shadow: 0px 0px 8px 0px rgba(46, 46, 46, 0.212);
  border: none;
}
.icons {
  margin-right: 9px;
  color: #008782;
}
.rentItem {
  padding-left: 45px;
}
.btn {
  text-align: center;
}
.infoContainer {
  align-self: center !important;
  margin-top: 4rem;
}
.cancelRentButton {
  align-self: center;
  width: 30%;
}
.headerInfo {
  color: #008782;
}
iFrame {
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: 1px 0pc 14px 0px #dadada;
  width: 900px;
}

/* Mobile Rules */

@media screen and (max-width: 700px) {
  .infoContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  .infoCardContainer {
    margin-top: 1rem;
  }
  .headerInfo {
    font-size: 38px;
  }
  .cancelRentButton {
    width: 40%;
  }
  iFrame {
    width: 90%;
  }
}

@media screen and (min-width: 701px) and (max-width: 1300px) {
  iFrame {
    width: 90%;
  }
}
