/* CSS Rules for trailer return view*/

.returnButton {
  width: 150px !important;
  height: 150px !important;
  border-radius: 100% !important;
  background-color: #008782 !important;
  color: white !important;
}
.returnButton:hover {
  background-color: #005f5c !important;
}
.returnContainer {
  width: 50vw;
  margin: 1rem auto;
  border: none !important;
  padding: 0;
}
.dividerLine {
  flex: 1;
  border: 2px solid #e2e2e2;
}
.pageNumber1 {
  width: 50px;
  height: 50px;
  background-color: #008782;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.pageNumber2 {
  width: 50px;
  height: 50px;
  background-color: #e2e2e2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
/* .numberInside {
    margin: auto;
  } */

.paginationContainer {
  display: flex;
  align-items: center;
  width: 30vw;
  margin: 5rem auto;
  margin-top: 40px;
}
.returnCardHeader {
  background-color: #008782;
  color: white;
  font-size: 20px;
}
.logoBackgroundContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 256px;
  height: 245px;
}
.backgroundLogo {
  transform: scale(2);
  opacity: 0.28;
}
.backButton {
  position: absolute;
  left: 20px;
  top: 90px;
}
.returnCard {
  border: none !important;
  box-shadow: 0px 0px 20px #e4e4e4;
}
.returnContainer {
  margin-top: -30px !important;
}
