/* CSS Rules for trailer return view*/

.returnButton {
  width: 150px !important;
  height: 150px !important;
  border-radius: 100% !important;
  background-color: #008782 !important;
  color: white !important;
}
.returnButton:hover {
  background-color: #005f5c !important;
}
.returnContainer {
  width: 50vw;
  margin: 1rem auto;
  border: none !important;
  padding: 0;
}
.dividerLine {
  flex: 1;
  border: 2px solid #bcbcbc;
}
.pageNumber1 {
  width: 50px;
  height: 50px;
  background-color: rgb(123, 193, 203);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.pageNumber2 {
  width: 50px;
  height: 50px;
  background-color: rgb(0, 135, 130);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
/* .numberInside {
    margin: auto;
  } */

.paginationContainer {
  display: flex;
  align-items: center;
  width: 30vw;
  margin: 5rem auto;
  margin-top: 40px;
}
.returnCardHeader {
  background-color: #008782;
  color: white;
  font-size: 20px;
}
.logoBackgroundContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 256px;
  height: 245px;
  z-index: -1;
}
.backgroundLogo {
  transform: scale(2);
  opacity: 0.28;
}
.backButton {
  position: absolute;
  left: 6px;
  top: 76px;
}
.returnCard {
  border: none !important;
  box-shadow: 0px 0px 20px #e4e4e4;
}

/* Mobile rules */

@media screen and (max-width: 650px) {
  .paginationContainer {
    width: 65vw;
  }
  .returnContainer {
    margin-top: 100px !important;
    width: 80vw;
  }
  .returnButton {
    width: 120px !important;
    height: 120px !important;
  }
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .backButton {
    left: 40px;
    top: 625px;
  }
}
@media screen and (min-width: 521px) and (max-width: 1499px) {
  .paginationContainer {
    width: 400px;
  }
}
@media screen and (min-width: 1500px) {
  .paginationContainer {
    width: 500px;
  }
}
