.productButton {
  width: 90px;
  height: 90px;
  background-color: #f1f1f1;
  /* margin: 50px;
    margin-bottom: 0;
    margin-top: 0; */
}
.activeProductButton {
  width: 90px;
  height: 90px;

  background-color: #7bc1cb;
  /* margin: 50px;
    margin-bottom: 0;
    margin-top: 0; */
}
.productButton:focus {
  width: 90px;
  height: 90px;
  outline: none;
  background-color: #7bc1cb;
  /* margin: 50px;
    margin-bottom: 0;
    margin-top: 0; */
}
.activeProductButton:focus {
  width: 90px;
  height: 90px;
  outline: none;
  background-color: #7bc1cb;
  /* margin: 50px;
    margin-bottom: 0;
    margin-top: 0; */
}
.selectProductBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
}
.adapterCheckBox {
  flex: 0 0 100%;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
