/* CSS Rules for product choose view*/

.productButton {
  width: 90px;
  height: 90px;
  background-color: #f1f1f1;
  color: #fff !important;
  background-color: #ffffff0a !important;
  /* border-color: #008782; */
  border: none !important;
  /* border-color: black; */
  box-shadow: 0px 0px 6px 1px #d7d7d7 !important;
  /* margin: 50px;
    margin-bottom: 0;
    margin-top: 0; */
}
.productButton:active {
  width: 90px;
  height: 90px;
  background-color: #7bc1cbc4 !important;
  color: #fff !important;
  background-color: #ffffff0a !important;
  /* border-color: #008782; */
  border: none !important;
  /* border-color: black; */
  box-shadow: 0px 0px 6px 1px #d7d7d7 !important;
  /* margin: 50px;
    margin-bottom: 0;
    margin-top: 0; */
}
.activeProductButton {
  width: 90px;
  height: 90px;
  background-color: #7bc1cbc4 !important;
  box-shadow: 0px 0px 6px 1px #d7d7d7 !important;
  border: none !important;
}
.activeProductButton:hover {
  width: 90px;
  height: 90px;
  background-color: #7bc1cbc4 !important;
  box-shadow: 0px 0px 6px 1px #d7d7d7 !important;
  border: none !important;
}
.productButton:hover {
  background-color: #7bc1cbc4 !important;
  box-shadow: 0px 0px 6px 1px #d7d7d7 !important;
  border: none !important;
}
.productButton:focus {
  width: 90px;
  height: 90px;
  outline: none;
  background-color: #7bc1cbc4 !important;
  box-shadow: 0px 0px 6px 1px #d7d7d7 !important;
  border: none !important;
  /* margin: 50px;
    margin-bottom: 0;
    margin-top: 0; */
}
.activeProductButton:focus {
  width: 90px;
  height: 90px;
  outline: none;
  background-color: #7bc1cbc4 !important;
  box-shadow: 0px 0px 6px 1px #d7d7d7 !important;
  border: none !important;
  /* margin: 50px;
    margin-bottom: 0;
    margin-top: 0; */
}
.activeProductButton:active {
  width: 90px;
  height: 90px;
  outline: none;
  background-color: #a1a1a11c !important;
  box-shadow: 0px 0px 6px 1px #d7d7d7 !important;
  border: none !important;
  /* margin: 50px;
    margin-bottom: 0;
    margin-top: 0; */
}
.selectProductBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  margin-top: 30px;
}
.adapterCheckBox {
  flex: 0 0 100%;
  justify-content: flex-start;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
