/* CSS Rules for rental time view*/

.timeBox {
  display: flex;
  flex-wrap: wrap;
  width: 297px;
  justify-content: space-between;
  margin: 1rem;
}
.header {
  margin-bottom: 12px;
  width: fit-content;
  color: #008782;
  margin-left: auto;
  margin-right: auto;
}
.me {
  margin-right: 40px;
}
