/* CSS Rules for station list */

.listContainer {
  width: 50vh;
  margin: auto;
}
.rowContainer {
  display: flex;
  flex-direction: row;
}

#kilometers {
  margin: 0 8px 0 0;
  flex: 0;
}

.stationName {
  text-align: start;
}

#cargobike,
#trailer {
  margin: 0 4px 0 4px;
}

#stationCheckbox {
  margin-left: auto;
}

.list-group-flush {
  margin-bottom: 2em !important;
}
.stationCheckboxContainer {
  margin-left: auto;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0 1em 0;
  width: 100%;
}
