.successIllustration,
.card,
.btn {
  margin-bottom: 20px;
}

.successIllustration {
  user-select: none;
}

.card {
  box-shadow: 0px 0px 8px 0px rgba(46, 46, 46, 0.212);
  border: none;
}

.cardTitle {
  margin-top: 10px;
}
