.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.successIllustration,
.card,
.btn {
  margin-bottom: 20px;
}

.successIllustration {
  user-select: none;
}

.card {
  box-shadow: 0px 0px 8px 0px rgba(46, 46, 46, 0.212);
  border: none;
  width: 30em;
  height: 10em;
}

.cardTitle {
  margin-top: 10px;
}

/* Mobile rules*/

@media screen and (max-width: 500px) {
  .successIllustration {
    width: 313px;
    align-items: center;
    margin-top: 57px;
  }
}
