/* CSS Rules for time button */

.selectedButton {
  background-color: #7bc1cb;
}
.selectedButton:hover {
  background-color: #7bc1cb;
}
.unselectedButton {
  margin: 3px;
  box-shadow: 0px 0px 3px 0px #8ed1cd;
}
