.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.fieldContainer {
  margin: 0.2rem auto;
}
form {
  width: 70vh;
  margin: auto;
}
.feedbackText {
  text-align: left;
}
#acceptTermsCheckbox {
  text-align: left;
}
.checkboxContainer {
  text-align: left;
}

.userFormContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}
