.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 0.2rem !important;
}
.fieldContainer {
  margin: 0.2rem auto;
}
form {
  width: 70vh;
}
.feedbackText {
  text-align: left;
}
#acceptTermsCheckbox {
  text-align: left;
}
.checkboxContainer {
  text-align: left;
}
/* button {
  width: -webkit-fill-available;
  margin-top: 1rem;
} */

.userFormContainer {
  display: flex;
  justify-content: center;
}