/* CSS Rules for user form */

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: center;
}
.fieldContainer {
  margin: 0.2rem auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.checkboxContainer {
  text-align: left;
}
form {
  margin: auto;
}
.customInput {
  margin: auto;
  border-color: #008782;
  width: 35rem;
}
.formLabel {
  font-weight: 500;
  color: #04625e;
}
.feedbackText {
  text-align: left;
}
#acceptTermsCheckbox {
  text-align: left;
}
.userFormContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}
.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1em 0 1em 0;
}
.leftButtons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-right: 24px;
}
.spanLabel {
  color: #3f9093;
}
.spanLabel:hover {
  color: #59c3b9;
}
#proceedToPaymentButton {
  padding: 8px;
}

/* Mobile rules */

@media screen and (max-width: 600px) {
  form {
    width: 50vw;
    margin-top: 2rem;
  }
  .mainContainer {
    display: flex;
    justify-content: center;
  }
  .formContainer {
    margin: auto;
  }
  .fieldContainer {
    align-items: flex-start;
  }
  .emailField {
    margin-left: 20px !important;
  }
  .customInput {
    width: 70vw;
  }
  .checkboxContainer {
    text-align: left;
    width: 70vw;
    margin: auto;
  }
  .buttonsContainer {
    width: 100vw;
    justify-content: space-around;
  }
  .leftButtons {
    margin-right: 0;
  }
  #proceedToPaymentButton {
    margin-right: 6px;
  }
}
