/* Default primary button */
.btn-primary {
  color: #fff;
  background-color: #008782;
  border-color: #008782;
}
.btn-primary:hover {
  color: #fff;
  background-color: #00615d;
  border-color: #005451;
}
.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #00615d;
  border-color: #005451;
  box-shadow: 0 0 0 0.2rem rgba(38, 153, 149, 0.5);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #fff;
  background-color: #008782;
  border-color: #008782;
}
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #005451;
  border-color: #004745;
}
.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 153, 149, 0.5);
}

/* Outlined primary button */
.btn-outline-primary {
  color: #008782;
  border-color: #008782;
}
.btn-outline-primary:hover {
  color: #fff;
  background-color: #008782;
  border-color: #008782;
}
.btn-outline-primary:focus,
.btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 135, 130, 0.5);
}
.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  color: #008782;
  background-color: transparent;
}
.btn-outline-primary:not(:disabled):not(.disabled):active,
.btn-outline-primary:not(:disabled):not(.disabled).active,
.show > .btn-outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #008782;
  border-color: #008782;
}
.btn-outline-primary:not(:disabled):not(.disabled):active:focus,
.btn-outline-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 135, 130, 0.5);
}

/* Checkbox */
.form-check-input {
  width: 19px;
  height: 19px;
  margin: 0px;
  border: none;
}
.form-check-input:checked {
  border-color: #008782;
  background-color: #008782;
}
.form-check-input:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 135, 130, 0.5);
}
.form-check-input:not(:checked) {
  border: 2px solid rgb(182, 182, 182);
}
